<div class="row">
  <div class="col-md-12">
    <%= form_tag(root_path('date[date]': :date, amount: :amount, from: :from, to: :to), method: :get) do %>
      <div class="form-group">
        <label>Date</label>
        <%= date_field :date, :date, value: @date || Date.today, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Amount</label>
        <%= number_field_tag :amount, @amount || '0', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>From</label>
        <%= select_tag :from, options_from_collection_for_select(@currencies, :currency, :currency, @from || 'GBP'), { class: 'form-control'} %>
      </div>
      <div class="form-group">
        <label>To</label>
        <%= select_tag :to, options_from_collection_for_select(@currencies, :currency, :currency, @to || 'USD'), { class: 'form-control'} %>
      </div>

      <div class="row">
        <div class="col-md-2">
          <a onclick="swapCurrencies()" class="btn btn-outline-primary btn-lg btn-block" id="swap-currencies-button" title="Swap currencies">Swap</a>
        </div>
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Convert</button>
        </div>
        <div class="col-md-2">
          <%= link_to '', get_currencies_path, class: 'btn btn-outline-primary side-button', id: 'reload-data-button', title: 'Reload data' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row" id="answer">
  <div class="col-md-12">
    <div class="card">
      <h4 class="card-header">Answer</h4>
      <div class="card-block">
        <% if @answer %>
            <p class="card-text text-center"><%= @answer %></p>
        <% else %>
            <p class="card-text text-center">0</p>
        <% end %>
      </div>
    </div>
  </div>
</div>